// Extends from PrimeReact Lara Light Indigo v10.8.5
// https://github.com/primefaces/primereact-sass-theme/tree/10.8.5/themes/lara/lara-light

$primaryColor: #6366f1;

$fontFamily:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Override shade variables
$shade100: #f3f4f6 !default; // header background
$shade200: #e5e7eb !default; // hover background
$shade300: #d1d5db !default; // border, divider
$shade400: #9ca3af !default; // input border
$shade500: #6b7280 !default; // input icon
$shade600: #4b5563 !default; // text secondary color
$shade700: #374151 !default; // text color
$shade800: #1f2937 !default; // unused
$shade900: #111827 !default; // unused

@import './themes/lara/lara-light/indigo/theme.scss';

:root {
  font-family: $fontFamily;
  font-feature-settings: normal;
  --font-family: inherit;
  --font-feature-settings: normal;
}

.labs-content article strong {
  color: $panelHeaderTextColor;
}
