// Extends from PrimeVue Lara Dark Purple v3.52.0
// https://github.com/primefaces/primevue-sass-theme/tree/3.52.0/themes/lara/lara-dark

$primaryColor: #c996fa;

$fontFamily:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

@import './themes/lara/lara-dark/purple/theme.scss';

:root {
  font-family: $fontFamily;
  font-feature-settings: normal;
  --font-family: inherit;
  --font-feature-settings: normal;
}
